{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block contentTitle %}Projets{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_project_project_index") }}">Projets</a></li>
{% endblock breadcrumb %}