{% extends "IiMediasProjectBundle::_layout.html.twig" %}

{% block contentTitle %}Projets{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_project_project_view", {projectSlug: project.slug}) }}">{{ project.name }}</a></li>
{% endblock breadcrumb %}

{% block moduleNav %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% if moduleNavActiveTab == "view" %}active{% endif %}"><a href="{{ path("iimedias_project_project_view", {projectSlug: project.slug}) }}">Aperçu</a></li>
        <li role="presentation" class="disabled"><a href="#">Activité</a></li>
        <li role="presentation" class="{% if moduleNavActiveTab == "issue" %}active{% endif %}"><a href="{{ path("iimedias_project_issue_index", {projectSlug: project.slug}) }}">Demandes</a></li>
        <li role="presentation" class="{% if moduleNavActiveTab == "newissue" %}active{% endif %}"><a href="{{ path("iimedias_project_issue_add", {projectSlug: project.slug}) }}">Nouvelle demande</a></li>
        <li role="presentation" class="disabled"><a href="#">Gantt</a></li>
        <li role="presentation" class="disabled"><a href="#">Calendrier</a></li>
        <li role="presentation" class="disabled"><a href="#">Annonces</a></li>
        <li role="presentation" class="disabled"><a href="#">Documents</a></li>
        <li role="presentation" class="disabled"><a href="#">Wiki</a></li>
        <li role="presentation" class="disabled"><a href="#">Fichiers</a></li>
        <li role="presentation" class="{% if moduleNavActiveTab == "configuration" %}active{% endif %}"><a href="{{ path("iimedias_project_project_edit", {projectSlug: project.slug}) }}">Configuration</a></li>
    </ul>
{% endblock moduleNav %}