{% extends "IiMediasProjectBundle::_layout.html.twig" %}

{% block contentTitle %}Projets{% endblock contentTitle %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right btn-group">
                    <a href="{{ path("iimedias_project_project_add") }}" class="btn btn-default">Ajouter un projet</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Mes Projets</h3>
{% for project in projects %}
                <h4><a href="{{ path("iimedias_project_project_view", {projectSlug: project.slug}) }}">{{ project.name }}</a></h4>
                <p>{{ project.description }}</p>
{% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}