{% extends extendsLayout %}

{% block contentTitle %}{% if formMode == "edit" %}Configuration du projet "{{ project.name }}"{% else %}Ajouter un projet{% endif %}{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_project_project_edit", {projectSlug: project.slug}) }}">Configuration</a></li>
{% else %}
    <li><a href="{{ path("iimedias_project_project_add") }}">Ajout</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    {{ form_label(form.name) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    {{ form_label(form.slug) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.slug) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    {{ form_label(form.description) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.description) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    {{ form_label(form.webSite) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.webSite) }}
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.isPublic) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.isPublic) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group pull-right">
                    <a href="{% if formMode == "edit" %}{{ path("iimedias_project_project_view", {projectSlug: project.slug}) }}{% else %}{{ path("iimedias_project_project_index") }}{% endif %}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}