{% extends "IiMediasProjectBundle::_layoutProject.html.twig" %}

{% block contentTitle %}Demandes{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_project_issue_index", {projectSlug: project.slug}) }}">Demandes</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right btn-group">
                    <a href="{{ path("iimedias_project_issue_add", {projectSlug: project.slug}) }}" class="btn btn-default">Ajouter une demande</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="issueDataTable" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Ordre de Statut</th>
                            <th>Statut</th>
                            <th>Ordre de Priorité</th>
                            <th>Priorité</th>
                            <th>Sujet</th>
                            <th>Assigné à</th>
                            <th>Ordre de Mise à jour</th>
                            <th>Mise à jour</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
{% for issue in issues %}
                        <tr>
                            <td>{{ issue.id }}</td> {# 0 #}
                            <td>{{ issue.projectIssueType.name }}</td> {# 1 #}
                            <td>{{ issue.projectIssueStatus.id }}</td> {# 2 #}
                            <td>{{ issue.projectIssueStatus.name }}</td> {# 3 #}
                            <td>{{ issue.projectIssuePriority.order }}</td> {# 4 #}
                            <td>{{ issue.projectIssuePriority.name }}</td> {# 5 #}
                            <td><a href="{{ path("iimedias_project_issue_view", {projectSlug: project.slug, issueId: issue.id}) }}">{{ issue.subject }}</a></td> {# 6 #}
                            <td>{{ issue.assignedUser.username }}</td> {# 7 #}
                            <td>{{ issue.updatedAt | date("YmdHis") }}</td> {# 8 #}
                            <td>{{ issue.updatedAt | date("d/m/Y H:i:s") }}</td> {# 9 #}
                            <td><a href="{{ path("iimedias_project_issue_view", {projectSlug: project.slug, issueId: issue.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i> Voir</a></td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
                $('#issueDataTable').DataTable({
                        "columnDefs": [
                            {
                                "targets": [0],
                                "orderData": [0]
                            },
                            {
                                "targets": [1],
                                "orderData": [1]
                            },
                            {
                                "targets": [2],
                                "ordering": false,
                                "visible": false
                            },
                            {
                                "targets": [3],
                                "orderData": [2, 3]
                            },
                            {
                                "targets": [4],
                                "orderable": false,
                                "visible": false
                            },
                            {
                                "targets": [5],
                                "orderData": [4, 5]
                            },
                            {
                                "targets": [6],
                                "orderData": [6]
                            },
                            {
                                "targets": [7],
                                "orderData": [7]
                            },
                            {
                                "targets": [8],
                                "ordering": false,
                                "visible": false
                            },
                            {
                                "targets": [9],
                                "orderData": [8, 9]
                            },
                            {
                                "targets": [10],
                                "ordering": false
                            }
                        ],
                        "order": [[ 0, "desc" ]]
                });
        });
    </script>
{% endblock scripts %}