{% extends "IiMediasProjectBundle::_layoutProject.html.twig" %}

{% block contentTitle %}{% if formMode == "edit" %}Edition de la demande #{{ issue.id }} "{{ issue.subject }}"{% else %}Ajouter un projet{% endif %}{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_project_issue_view", {projectSlug: project.slug, issueId: issue.id}) }}">#{{ issue.id }} : {{ issue.subject }}</a></li>
    <li><a href="{{ path("iimedias_project_issue_edit", {projectSlug: project.slug, issueId: issue.id}) }}">Editer</a></li>
{% else %}
    <li><a href="{{ path("iimedias_project_issue_add", {projectSlug: project.slug}) }}">Ajout</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
                <div class="row">
                    {{ form_label(form.projectIssueType) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.projectIssueType) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    {{ form_label(form.subject) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.subject) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                <div class="row">
                    {{ form_label(form.description) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.description) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class=row>
                    {{ form_label(form.projectIssueStatus) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.projectIssueStatus) }}
                    </div>
                </div>
                <div class=row>
                    {{ form_label(form.projectIssuePriority) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.projectIssuePriority) }}
                    </div>
                </div>
                <div class=row>
                    {{ form_label(form.assignedUser) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.assignedUser) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class=row>
                    {{ form_label(form.projectIssueParent) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.projectIssueParent) }}
                    </div>
                </div>
                <div class=row>
                    {{ form_label(form.startAt) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.startAt) }}
                    </div>
                </div>
                <div class=row>
                    {{ form_label(form.endAt) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.endAt) }}
                    </div>
                </div>
                <div class=row>
                    {{ form_label(form.completedPercentage) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.completedPercentage) }}
                    </div>
                </div>
                <div class=row>
                    {{ form_label(form.estimatedTime) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.estimatedTime) }}
                    </div>
                </div>
            </div>
        </div>
{% if newCommentActivate == true %}
        <div class="row">
            {{ form_label(form.newComment) }}
            <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.newComment) }}
            </div>
        </div>
{% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group pull-right">
                    <a href="{% if formMode == "edit" %}{{ path("iimedias_project_project_view", {projectSlug: project.slug}) }}{% else %}{{ path("iimedias_project_project_index") }}{% endif %}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.continue) }}
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}