{% extends "IiMediasProjectBundle::_layoutProject.html.twig" %}

{% block contentTitle %}{{ issue.subject }}{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_project_issue_index", {projectSlug: project.slug}) }}">Demandes</a></li>
    <li><a href="{{ path("iimedias_project_issue_view", {projectSlug: project.slug, issueId: issue.id}) }}">#{{ issue.id }} : {{ issue.subject }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right btn-group">
                    <a href="{{ path("iimedias_project_issue_edit", {projectSlug: project.slug, issueId: issue.id}) }}" class="btn btn-default">Editer la demande</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Description de la demande</h3>
            </div>
            <div class="panel-body">
                <p class="pull-right">
                    Ajouté le {{ issue.createdAt | date("d/m/Y à H:i") }} par {{ issue.createdByUser.username }}<br />
                    <i>Mis à jour le {{ issue.updatedAt | date("d/m/Y à H:i") }} par {{ issue.updatedByUser.username }}</i>
                </p>
                <p>{{ issue.description }}</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Statut :</b></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">{{ issue.projectIssueStatus.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Priorité :</b></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">{{ issue.projectIssuePriority.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Assigné à :</b></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">{{ issue.assignedUser.username }}</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Début :</b></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{% if issue.startAt is not null %}{{ issue.startAt | date("d/m/Y") }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Echéance :</b></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{% if issue.endAt is not null %}{{ issue.endAt | date("d/m/Y") }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>% réalisé :</b></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ issue.childrenCompletedPercentage }}%</div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ issue.childrenCompletedPercentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ issue.childrenCompletedPercentage }}%;">
                                                <span class="sr-only">{{ issue.childrenCompletedPercentage }}% réalisé</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Commentaires</h3>
            </div>
            <div class="panel-body">
{% for comment in issue.projectIssueComments %}
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                        <b>{{ comment.createdByUser.username }}</b><br />
                        <i>{{ comment.createdAt | date("d/m/Y H:i:s") }}</i>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                        {{ comment.comment }}
                    </div>
                </div>
{% if not loop.last %}
                <hr />
{% endif %}
{% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}{% endblock scripts %}